<!-- Newsletter -->
<hr>
<footer class="footer" id="contact" style="background-color: #203B50">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <h2 class="section-heading text-uppercase" style="color:white;";>Sign Up For Our Newsletter</h2>
        <br />
        <br />
        <a class="btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://theheronstudio.us21.list-manage.com/subscribe?u=a882ee25d41f8893f7adbdaec&id=273692ff6f">Subscribe</a>
        <br />
        <br />
      </div>
      <!-- Contact Us -->
      <div class="col-md-4">
        <a id="contact-us"></a>
        <h2 class="section-heading text-uppercase" style="color:white;align-items:flex-start;">Contact Us</h2>
        <p style="color:white">Phone: 774-264-0786</p>
        <p style="color:white">Mailing Address: 311 Sanford Road, Westport, MA 02790</p>
        <br />
        <p style="color:white;word-break:break-all;">Jessica Howard, Executive Director<p>
        <p style="color:white;word-break: break-all;">Email:theheroncenter@gmail.com</p></p>
        <br />
        <p style="color:white">Ashley Gallagher, Program Manager</p>
        <p style="color:white;word-break:break-all;">Email: outreach.theheroncenter@gmail.com</p>
      </div>
      <!-- Locations -->
      <div class="col-md-4">
      <h2 class="section-heading text-uppercase" style="color:white;">Visit Us</h2>
    <br />
    <p style="color:white">Visit us at our two locations on the South Coast:</p>
        <br />
<a href="/spaces#fall-river"><h3 style="color:white">The Studio in Fall River</h3></a>
<p style="color:white">187 Plymouth Avenue, Fall River, MA 02721</p>
<br />
<a href="/spaces#westport"><h3 style="color:white">The Wildlife Sanctuary in Westport</h3></a>
<p style="color:white">179 Legacy Lane, Westport, MA 02790</p>
      </div>
    </div>
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
<!-- End Footer -->
