<!-- Newsletter -->
<hr>
<footer class="footer" id="contact" style="background-color:#1a2528;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <h1 style="color:#bebea7";>Sign Up For Our Newsletter</h1>
        <br />
        <br />
            <br />
        <br />
        <p style="color:#bebea7">Keep up to date on all the programs, classes, and events at the Heron Center.</p>
        <br />
        <br />
        <br />
        <a style="background-color:#bebea7;text-color: #1a2528;" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://theheronstudio.us21.list-manage.com/subscribe?u=a882ee25d41f8893f7adbdaec&id=273692ff6f">Subscribe</a>
      </div>
      <!-- Contact Us -->
      <div class="col-md-4">
        <a id="contact-us"></a>
        <h1 style="color:#bebea7">Contact Us</h1>
        <p style="color:#bebea7">Phone: 774-264-0786</p>
        <p style="color:#bebea7">Mailing Address: 311 Sanford Road, Westport, MA 02790</p>
        <br />
        <p style="color:#bebea7">Jessica Howard, Executive Director</p>
        <p style="color:#bebea7">Email:theheroncenter@gmail.com</p>
        <br />
        <p style="color:#bebea7">Ashley Gallagher, Program Manager</p>
        <p style="color:#bebea7">Email: outreach.theheroncenter@gmail.com</p>
      </div>
      <!-- Locations -->
      <div class="col-md-4">
      <h1 style="color:#bebea7">Visit Us</h1>
    <br />
    <p style="color:#bebea7">Visit us at our two locations on the South Coast:</p>
        <br />
            <br />
<a href="/spaces#fall-river"><h3 style="color:#bebea7">The Studio in Fall River</h3></a>
<p style="color:#bebea7">187 Plymouth Avenue, Fall River, MA 02721</p>
<br />
<a href="/spaces#westport"><h3 style="color:#bebea7">The Wildlife Sanctuary in Westport</h3></a>
<p style="color:#bebea7">179 Legacy Lane, Westport, MA 02790</p>
      </div>
    </div>
  </div>
</footer>
<hr>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
<!-- End Footer -->
