---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published"> {{ page.when }}</time>
      {%- if page.contact -%}
          <span itemprop="author">
            <span class="p-author h-card">Contact {{ contact }}</span>
          </span>
      {%- endif -%}

      {%- if page.yurt-%}
          <span>
            <span class="p-author h-card">The Yurt at our Wildlife Sanctuary is accessible by stairs only. When temps drop below 25 degrees or if it is snowing, classes are automatically canceled.</span>
          </span>
      {%- endif -%}

      {%- if page.location=="fall river"-%}
          <span>
            <span class="p-author h-card">187 Plymouth Ave, Fall River MA * Durfee Mills * Building 8, Entrance 8A * First Floor, First Door on left upon entry</span>
          </span>
      {%- elsif page.location=="westport"-%}
            <span>
            <span class="p-author h-card">179 Legacy Ln, Westport Ma 02790</span>
          </span>
      {%- endif -%}

      {%- if page.tuition-%}
          <span itemprop="author">
            <span class="p-author h-card">{{ tuition }}</span>
          </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>